* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'triforcetriforce';
  src: url('triforce-webfont.woff2') format('woff2'),
       url('triforce-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hylia_serif_betaregular';
  src: url('hyliaserifbeta-regular-webfont.woff2') format('woff2'),
       url('hyliaserifbeta-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  background: #014421;
  font-family: 'hylia_serif_betaregular', sans-serif;
  color: white;
}

header, footer {
  text-align: center;
  font-family: 'Times New Roman';
  font-size: 20px;
  background: #222222;
}

footer {
  margin-top: 30px;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

body {
  padding: 0px;
}

h1 {
  font-size: 4em;
  font-weight: lighter;
}

h3, h4 {
  font-weight: lighter;
}

.logo {
  font-family: 'hylia_serif_betaregular', sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
  text-decoration: none;
  list-style: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.container {
  display: flex;
  margin: 80px;
  padding: 0px;
  
  /*
  align-items:flex-start;
  align-items:flex-end;
  align-items:center;
  
  flex-direction:column;
  justify-content: space-around;
  flex-wrap: wrap;
  */
}

.box {
  flex: 1;
}

/*Line*/
.box ul {
  margin: 0;
  padding: 0;
}

.box ul .prime {
  border-left: 2px solid #ff6961;
}

.box ul .diverged {
  margin-top: 149px;
  border-left: 2px solid #90d4ed;
}

.box ul .converged {
  border-left: 2px solid #b19cd9;
}

.box ul li {
  list-style: none;
}

.box ul li .game {
  position: relative;
  padding: 25px 20px;
  border-bottom: 1px solid #00693E;
}

.box ul li .game:hover {
  background: #00853E;
  cursor: pointer;
}

/*Points*/
.box ul li .game:before {
  content: '';
  position: absolute;
  top: 32px;
  left: -6px;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 50%;
  /*box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);*/
}

/*Game name*/
.box ul li .game span {
  font-size: 20px;
  padding: 4px 12px;
  background: #ffd300;
  border-radius: 20px;
  color: #222222;
}

.box ul li .spinoff span {
  font-size: 15px;
  padding: 4px 12px;
  background: #ffffff;
  border-radius: 20px;
  color: blue;
}

.box ul li .game:hover span {
  background: #ffffff;
}

.box ul li .game p {
  padding: 0px;
  margin: 0px;
  color: #ffffff;
  font-family: "Times New Roman";
  font-style: italic;
}

.zeldatitle {
  text-align: center;
  margin-left: 30px;
  font-family: 'triforcetriforce';
  font-size: 4em;
  position: static;
}

.timelinetitle {
  font-family: 'hylia_serif_betaregular';
  text-align: center;
  font-size: 20px;
}

.symbol {
  margin-left: 25vw;
  margin-top: -40px;
  margin-bottom: -30px;
  float: right;
}

.symbol ul {
  display: flex;
  margin-left: -5vw;
}

.symbol ul li {
  padding-left: 15px;
}

.symbol img {
  height: 80px;
  width: 80px;
}

a:visited {
  color: white;
}

/*@media screen and (max-width: 1024px) {
  .box ul li .game span {
    display: none;
  }
  
  .box ul li .spinoff span {
    display: none;
  }

  .box ul li .game p {
    display: none;
  }
}*/

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    width: 40%;
    top: 8vh;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center; 
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .nav-active {
    transform: translateX(0%)
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}



